# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script run, first creating a .spec file and a build directory
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat pytmp
celerybeat-schedule

# dotenv
.env
.venv
venv/
ENV/
env/
yolo_env/

# ROS2 build artifacts
install/
log/

# Models / Weights
*.pt
*.pth
*.onnx

# Large datasets
data/
datasets/
runs/

# IDEs
.vscode/
.idea/
.project
.pydevproject
.settings/
